# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

CefGlueHeadlessDemo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

CefGlueHeadlessDemo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

CefGlueHeadlessDemo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs

CefGlueHeadless/\.vs/CefGlueHeadless/v15/\.suo

CefGlueHeadless/\.vs/CefGlueHeadless/v15/Server/sqlite3/db\.lock

CefGlueHeadless/\.vs/CefGlueHeadless/v15/Server/sqlite3/storage\.ide

CefGlueHeadless/\.vs/CefGlueHeadless/v15/Server/sqlite3/storage\.ide-shm

CefGlueHeadless/\.vs/CefGlueHeadless/v15/Server/sqlite3/storage\.ide-wal

CefGlueHeadless/obj/Debug/CefGlueHeadless\.csproj\.CoreCompileInputs\.cache

CefGlueHeadless/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

CefGlueHeadless/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

CefGlueHeadless/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

CefGlueHeadless/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs

CefGlueHeadlessDemo/obj/Debug/CefGlueHeadlessDemo\.csproj\.CoreCompileInputs\.cache

CefGlueHeadlessDemo/obj/Debug/DesignTimeResolveAssemblyReferencesInput\.cache
