# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Specific Subdirs
CefGlueHeadlessDemo/obj/*
CefGlueHeadless/\.vs/*
CefGlueHeadless/obj/*
build/*
CefGlue/*
CefGlue\.Client/*
CefGlue\.*/*
HeadlessTest/*
build.*
packages/*
tools/*


Dependencies/cef_100_percent\.pak

Dependencies/cef_200_percent\.pak

Dependencies/cef_extensions\.pak

Dependencies/cef\.pak

Dependencies/devtools_resources\.pak

Dependencies/icudtl\.dat

Dependencies/locales/am\.pak

Dependencies/locales/am\.pak\.info

Dependencies/locales/ar\.pak

Dependencies/locales/ar\.pak\.info

Dependencies/locales/bg\.pak

Dependencies/locales/bg\.pak\.info

Dependencies/locales/bn\.pak

Dependencies/locales/bn\.pak\.info

Dependencies/locales/ca\.pak

Dependencies/locales/ca\.pak\.info

Dependencies/locales/cs\.pak

Dependencies/locales/cs\.pak\.info

Dependencies/locales/da\.pak

Dependencies/locales/da\.pak\.info

Dependencies/locales/de\.pak

Dependencies/locales/de\.pak\.info

Dependencies/locales/el\.pak

Dependencies/locales/el\.pak\.info

Dependencies/locales/en-GB\.pak

Dependencies/locales/en-GB\.pak\.info

Dependencies/locales/en-US\.pak

Dependencies/locales/en-US\.pak\.info

Dependencies/locales/es-419\.pak

Dependencies/locales/es-419\.pak\.info

Dependencies/locales/es\.pak

Dependencies/locales/es\.pak\.info

Dependencies/locales/et\.pak

Dependencies/locales/et\.pak\.info

Dependencies/locales/fa\.pak

Dependencies/locales/fa\.pak\.info

Dependencies/locales/fi\.pak

Dependencies/locales/fi\.pak\.info

Dependencies/locales/fil\.pak

Dependencies/locales/fil\.pak\.info

Dependencies/locales/fr\.pak

Dependencies/locales/fr\.pak\.info

Dependencies/locales/gu\.pak

Dependencies/locales/gu\.pak\.info

Dependencies/locales/he\.pak

Dependencies/locales/he\.pak\.info

Dependencies/locales/hi\.pak

Dependencies/locales/hi\.pak\.info

Dependencies/locales/hr\.pak

Dependencies/locales/hr\.pak\.info

Dependencies/locales/hu\.pak

Dependencies/locales/hu\.pak\.info

Dependencies/locales/id\.pak

Dependencies/locales/id\.pak\.info

Dependencies/locales/it\.pak

Dependencies/locales/it\.pak\.info

Dependencies/locales/ja\.pak

Dependencies/locales/ja\.pak\.info

Dependencies/locales/kn\.pak

Dependencies/locales/kn\.pak\.info

Dependencies/locales/ko\.pak

Dependencies/locales/ko\.pak\.info

Dependencies/locales/lt\.pak

Dependencies/locales/lt\.pak\.info

Dependencies/locales/lv\.pak

Dependencies/locales/lv\.pak\.info

Dependencies/locales/ml\.pak

Dependencies/locales/ml\.pak\.info

Dependencies/locales/mr\.pak

Dependencies/locales/mr\.pak\.info

Dependencies/locales/ms\.pak

Dependencies/locales/ms\.pak\.info

Dependencies/locales/nb\.pak

Dependencies/locales/nb\.pak\.info

Dependencies/locales/nl\.pak

Dependencies/locales/nl\.pak\.info

Dependencies/locales/pl\.pak

Dependencies/locales/pl\.pak\.info

Dependencies/locales/pt-BR\.pak

Dependencies/locales/pt-BR\.pak\.info

Dependencies/locales/pt-PT\.pak

Dependencies/locales/pt-PT\.pak\.info

Dependencies/locales/ro\.pak

Dependencies/locales/ro\.pak\.info

Dependencies/locales/ru\.pak

Dependencies/locales/ru\.pak\.info

Dependencies/locales/sk\.pak

Dependencies/locales/sk\.pak\.info

Dependencies/locales/sl\.pak

Dependencies/locales/sl\.pak\.info

Dependencies/locales/sr\.pak

Dependencies/locales/sr\.pak\.info

Dependencies/locales/sv\.pak

Dependencies/locales/sv\.pak\.info

Dependencies/locales/sw\.pak

Dependencies/locales/sw\.pak\.info

Dependencies/locales/ta\.pak

Dependencies/locales/ta\.pak\.info

Dependencies/locales/te\.pak

Dependencies/locales/te\.pak\.info

Dependencies/locales/th\.pak

Dependencies/locales/th\.pak\.info

Dependencies/locales/tr\.pak

Dependencies/locales/tr\.pak\.info

Dependencies/locales/uk\.pak

Dependencies/locales/uk\.pak\.info

Dependencies/locales/vi\.pak

Dependencies/locales/vi\.pak\.info

Dependencies/locales/zh-CN\.pak

Dependencies/locales/zh-CN\.pak\.info

Dependencies/locales/zh-TW\.pak

Dependencies/locales/zh-TW\.pak\.info

Dependencies/natives_blob\.bin

Dependencies/snapshot_blob\.bin

Dependencies/v8_context_snapshot\.bin
